<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>duration</key>
	<integer>45</integer>
	<key>topOfHour</key>
	<false/>
	<key>serverURL</key>
	<string>http://scprdev.org:8000/kpcclive.mp3</string>
</dict>
</plist>
